In [1]:
import numpy as np

In [3]:
import pandas as pd

In [6]:
labels = ['a','b','c']
my_data = [10,20,30]
arr = np.array(my_data)
d = {'a':10, 'b':20, 'c':30}

In [10]:
#para ver los parametros que admite shift + tab
pd.Series(my_data)

0    10
1    20
2    30
dtype: int64

In [11]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [15]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [16]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [13]:
# Un array de Numpy funcionara igual que una lista de python siempre que se pase
# a una serie
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [17]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','USSR','Japan'])

In [19]:
ser2 = pd.Series([1,2,5,4],['USA','Germany','Italy','Japan'])

In [23]:
# los int se convertiran en floats. Sumará aquellos que encuentre por el nombre
# del objeto en la serie. No perderá informacion.
ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

In [22]:
ser1 - ser2

Germany    0.0
Italy      NaN
Japan      0.0
USA        0.0
USSR       NaN
dtype: float64