In [7]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [9]:
df

             A         B
G1 1 -0.727871 -0.425205
   2 -0.019460 -0.046892
   3  0.653899  1.656544
G2 1  0.599779  1.305866
   2  1.066066  0.375754
   3 -0.501123  0.143879

In [10]:
df.loc['G1']

          A         B
1 -0.727871 -0.425205
2 -0.019460 -0.046892
3  0.653899  1.656544

In [11]:
df.loc['G1'].loc[1]

A   -0.727871
B   -0.425205
Name: 1, dtype: float64

In [14]:
df.index.names = ['Groups','Num']
df

                   A         B
Groups Num
G1     1   -0.727871 -0.425205
       2   -0.019460 -0.046892
       3    0.653899  1.656544
G2     1    0.599779  1.305866
       2    1.066066  0.375754
       3   -0.501123  0.143879

In [16]:
df.loc['G2'].loc[2]['B']

0.3757543312277164

In [17]:
df.xs('G1')

            A         B
Num
1   -0.727871 -0.425205
2   -0.019460 -0.046892
3    0.653899  1.656544

In [20]:
df.xs(1,level='Num')

               A         B
Groups
G1     -0.727871 -0.425205
G2      0.599779  1.305866